##############################################################################
## vars configure file: Used for the purpose of um2grb2 conversion of only  ##
## needed NCUM model out variables. um2grb2 python parallel scripts will    ##
## create analysis and forecast files, by conveting to gri2 file only for   ##
## for the following cf_standard_name and varSTASH coded vars.              ##
##                                                  ##
## Author : Arulalan <arulalan@ncmrwf.gov.in>       ##
## Updated : 01-Feb-2016                            ##
##############################################################################

##### BEGIN OF UMRIDER VARS CONFIGURE FOR um2grb2 SCRIPTS ######
##### Single Level Vars ###########
('soil_temperature', 'm01s03i238')
('air_temperature', 'm01s03i236')
('dew_point_temperature', 'm01s03i250')
('x_wind', 'm01s03i209')  
('y_wind', 'm01s03i210')
('snowfall_amount', 'm01s00i023')
('cloud_area_fraction_assuming_random_overlap', 'm01s09i216')
### End of Variables

