##############################################################################
## vars configure file: Used for the purpose of um2grb2 conversion of only  ##
## needed NCUM model out variables. um2grb2 python parallel scripts will    ##
## create analysis and forecast files, by conveting to gri2 file only for   ##
## for the following cf_standard_name and varSTASH coded vars.              ##
##                                                  ##
## Author : Arulalan <arulalan@ncmrwf.gov.in>       ##
## Updated : 01-Feb-2016                            ##
##############################################################################

##### BEGIN OF UMRIDER VARS CONFIGURE FOR um2grb2 SCRIPTS ######

## TIME CUMMULATED / INTERGRATED VARIABLES
('precipitation_amount', 'm01s05i226')
('surface_net_downward_shortwave_flux', 'm01s01i202')
('surface_net_downward_longwave_flux', 'm01s02i201')   
('surface_upward_latent_heat_flux', 'm01s03i234')   
('surface_upward_sensible_heat_flux', 'm01s03i217')   
('toa_outgoing_longwave_flux', 'm01s02i205')   

### End of Variables

