##############################################################################
## vars configure file: Used for the purpose of um2grb2 conversion of only  ##
## needed NCUM model out variables. um2grb2 python parallel scripts will    ##
## create analysis and forecast files, by conveting to gri2 file only for   ##
## for the following cf_standard_name and varSTASH coded vars.              ##
##                                                                          ##
## Author : Arulalan <arulalan@ncmrwf.gov.in>                               ##
## Updated : 18-Feb-2016                                                    ##
##############################################################################

##### BEGIN OF UMRIDER VARS CONFIGURE FOR um2grb2 SCRIPTS ######
## Pressure Level Variable names & STASH codes

('air_temperature', 'm01s16i203')  
('geopotential_height', 'm01s16i202')                    
('relative_humidity', 'm01s16i256') 
('specific_humidity', 'm01s30i205')                                   
('x_wind', 'm01s15i243')
('y_wind', 'm01s15i244')
('upward_air_velocity', 'm01s15i242')
